.item-container {
  background-color: #ddd;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item-image {
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .item-info-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-info {
      width: 25%;
    }
    .item-score {
      width: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .item-score-text {
        text-align: center;
      }
      .item-score-btn {
        background: transparent;
        border: none;
        outline: none;
      }
      i {
        cursor: pointer;
        font-size: 2.5rem;
        &:hover {
          color: royalblue;
        }
      }
      .btn-disabled {
        color: royalblue;
      }
    }
    .item-btns {
      width: 26%;
      display: flex;
      flex-direction: column;
    }
  }
  .in-cart {
    display: flex;
    justify-content: center;
    border: none;
    background: rgb(132, 158, 236);
    color: white;
    text-align: center;
    font-weight: 400;
    height: 5vh;
    align-items: center;
    cursor: initial;
    border-radius: 4px;
    &:hover {
      border: none;
      background: rgb(132, 158, 236);
      color: white;
      cursor: initial;
      * {
        color: white;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .item-container {
    background-color: #ddd;

    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-image {
      width: 50%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .item-info-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .item-info {
        width: 100%;
      }
      .item-score {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .item-score-text {
          text-align: center;
        }
        .item-score-btn {
          background: transparent;
          border: none;
          outline: none;
        }
        i {
          cursor: pointer;
          font-size: 2.5rem;
          &:hover {
            color: royalblue;
          }
        }
        .btn-disabled {
          color: royalblue;
        }
      }
      .item-btns {
        width: 100%;
        display: flex;
        flex-direction: column;

        *:first-child {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }
    }
    .in-cart {
      display: flex;
      justify-content: center;
      border: none;
      background: rgb(132, 158, 236);
      color: white;
      text-align: center;
      font-weight: 400;
      height: 5vh;
      align-items: center;
      cursor: initial;
      border-radius: 4px;
      &:hover {
        border: none;
        background: rgb(132, 158, 236);
        color: white;
        cursor: initial;
        * {
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .in-cart {
    margin: auto;
    width: 90%;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .item-container {
    background-color: #ddd;

    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .item-image {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .item-info-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .item-info {
        width: 100%;
      }
      .item-score {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .item-score-text {
          text-align: center;
        }
        .item-score-btn {
          background: transparent;
          border: none;
          outline: none;
        }
        i {
          cursor: pointer;
          font-size: 2.5rem;
          &:hover {
            color: royalblue;
          }
        }
        .btn-disabled {
          color: royalblue;
        }
      }
      .item-btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        *:first-child {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }
    }
    .in-cart {
      display: flex;
      justify-content: center;
      border: none;
      background: rgb(132, 158, 236);
      color: white;
      text-align: center;
      font-weight: 400;
      height: 5vh;
      align-items: center;
      cursor: initial;
      border-radius: 4px;
      &:hover {
        border: none;
        background: rgb(132, 158, 236);
        color: white;
        cursor: initial;
        * {
          color: white;
        }
      }
    }
  }
}
