.redirect-container {
  width: 99.9vw;
  height: 60vh;
  .redirect-main {
    margin: auto;
    margin-top: 20vh;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .redirect-btn {
    width: 50%;
    height: 30%;
    border: 1px solid black;
    font-size: 1.5rem;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    &:hover {
      transition: 500ms;
      cursor: pointer;
      background: royalblue;
      color: white;
    }
  }
}
