.input-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px;
  .input-label {
    width: 40%;
    font-size: 2rem;
  }

  input {
    width: 50%;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  [type='password'] {
    letter-spacing: 3px;
  }
}
