.input-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2em;
  width: 90%;
  .input-label {
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 1em;
    margin-bottom: 0.3em;
  }

  .input-input-field {
    margin: 0 1em;
    background: transparent;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 0.2em 0em;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
    outline: none;
    &:focus {
      border: 1px solid #777;
      background: transparent;
    }
  }
  [type="password"] {
    letter-spacing: 3px;
    background: transparent;
  }
}
@media screen and (max-width: 500px) {
  .input-container {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    margin: 0;

    margin-bottom: 2em;

    width: 90%;
    .input-label {
      width: 100%;
      font-weight: 400;
      font-size: 1.1rem;

      margin-bottom: 0.3em;
    }

    .input-input-field {
      background: transparent;
      width: 100%;
      font-size: 1.1rem;
      border: none;
      padding: 0.2em 0em;
      font-weight: 300;
      border-radius: 3px;
      border: 1px solid #bbbbbb;
      outline: none;
      &:focus {
        border: 1px solid #777;
      }
    }
    [type="password"] {
      letter-spacing: 3px;
    }
  }
}
