.button-container {
  overflow: hidden;
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  .button-main {
    width: 40%;
    height: 100%;
    color: royalblue;
    border: 1px solid royalblue;
    background: transparent;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 4px;
    transition: 500ms;
    * {
      color: royalblue;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
      color: white;
      background: royalblue;
      * {
        color: white;
      }
    }
  }
  .disabled-btn {
    border: none;
    background: rgb(132, 158, 236);
    color: white;
    cursor: initial;
    &:hover {
      border: none;
      background: rgb(132, 158, 236);
      color: white;
      cursor: initial;
    }
  }
  .button-main_fullwidth {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .button-container {
    margin-top: 1em;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    .button-main {
      width: 100%;
      height: 100%;
      color: royalblue;
      border: 1px solid royalblue;
      background: transparent;
      outline: none;
      font-size: 1.1rem;
      font-weight: 400;
      border-radius: 4px;
      transition: 500ms;

      &:hover {
        cursor: pointer;
        color: white;
        background: royalblue;
      }
    }
    .disabled-btn {
      border: none;
      background: rgb(132, 158, 236);
      color: white;
      cursor: initial;
      &:hover {
        border: none;
        background: rgb(132, 158, 236);
        color: white;
        cursor: initial;
        * {
          color: white;
        }
      }
    }
    .button-main_fullwidth {
      width: 100%;
    }
  }
}
