.update-component-container {
  display: flex;
  justify-content: row;
  align-items: center;

  height: 10%;
  .input {
    font-size: 1.5rem;
    width: 80%;
    input {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }
  .btn {
    width: 20%;
  }
}
