.filter-container {
  top: 0;
  left: 0;
  overflow: hidden;
  background: white;
  position: absolute;
  width: 99.9vw;
  height: 99.9vh;
  .filter-exit {
    margin-left: auto;
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    & {
      color: black;
    }
    &:hover {
      transition: 500ms;
      cursor: pointer;
      color: white;
    }
  }
  .filter-body {
    width: 45;
    height: 44vh;
    display: flex;
    justify-content: space-between;
    .search-items-container {
      width: 45%;
      height: 44vh;
    }
  }
  .search-and-filter-btn {
    width: 99.9vw;
  }
}
