.footer-component {
  margin-top: 2em;

  padding: 0;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  * {
    padding: 0.25em 1em;
  }
  .footer-btn {
    max-width: 200px;
    margin-left: 2em;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    * {
      text-decoration: none;
      font-size: 1.2rem;
      color: black;
      font-weight: 600;
    }
    &:hover {
      transition: 500ms;
      border: 1px solid transparent;
      background: royalblue;
      * {
        color: white;
      }
    }
  }
  .footer-text {
    display: flex;
    align-items: center;
    a {
      font: bolder;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover {
        color: royalblue;
        transition: 500ms;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .footer-component {
    width: 100%;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .footer-btn {
      max-width: 700px;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1rem;
      justify-content: center;
      border: 1px solid black;
      border-radius: 0;
      * {
        text-decoration: none;
        font-size: 1rem;
        color: black;
        font-weight: 600;
      }
    }
    .footer-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      h2 {
        padding: 0;
        position: relative;
      }
      a {
        text-decoration: none;
        font-size: 1.2rem;
        position: relative;
        padding: 0;
        width: 100%;
      }
    }
  }
}
