.item-page-container {
  width: 100%;
  height: 75vh;

  display: flex;
  justify-content: space-evenly;
  .item-page-head {
    background: #ddd;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .item-img-container {
      position: relative;
      margin-left: 1em;
      width: 400px;
      height: 400px;
      align-self: center;
      .item-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(royalblue, 0);
        .item-overlay-icon {
          margin: 150px auto;
          font-size: 3rem;
          width: 3rem;
          * {
            color: transparent;
          }
        }
        &:hover {
          transition: 500ms;
          cursor: pointer;
          background: rgba(royalblue, 0.4);
          * {
            color: white;
          }
        }
      }
      .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .item-basic-info {
      * {
        margin-left: 0.5em;
        font-weight: 400;
      }
      *:first-of-type {
        margin-top: 0;
      }
    }
  }
  .item-page-body {
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      border-bottom: 1px solid #444;
      font-weight: 400;
    }
    h1 {
      font-weight: 400;
    }
    width: 30%;
    height: 100%;
    &:last-child {
      * {
        margin: 0.5em 0;
      }
    }
    .in-cart-btn {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 6vh;
      color: white;
      background: royalblue;
      outline: none;
      font-size: 1.5rem;
      font-weight: 400;
      border: 1px solid white;
      border-radius: 4px;
    }
  }

  .similar-items-container {
    width: 30%;
    height: 100%;
    background: #ddd;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-weight: 400;
    }
  }
}

.exit-icon {
  justify-self: flex-end;
  font-size: 3rem;
  width: fit-content;
  height: fit-content;

  &:hover {
    transition: 500ms;
    cursor: pointer;
    color: royalblue;
  }
}
.big-image-container {
  margin: auto;
  height: 80vh;
  width: 50%;

  * {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
