.add-page-container {
  overflow-x: hidden;
  width: 100%;
  height: 75vh;
  display: flex;
  background: #ddd;
  justify-content: space-between;
  .basic-info-conatiner {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    .add-page-desc {
      margin-left: 2rem;
      h1 {
        font-size: 1.3rem;
        font-weight: 400;
      }
      textarea {
        font-size: 1rem;
        border: 1px solid royalblue;
        margin: 1em 0;
        width: 75%;
        height: 10rem;
        background: transparent;
        outline: none;
        resize: none;
      }
    }
  }
  .add-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    .add-item-image {
      max-width: 80%;
      max-height: 50vh;
      object-fit: scale-down;
    }
  }
}

@media screen and (max-width: 1000px) {
  .add-page-container {
    background: #ddd;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    .basic-info-conatiner {
      width: 100%;
      height: 100%;
    }
    .add-image-container {
      width: 100%;
      height: 0%;
      .add-item-image {
        max-width: 80%;
        max-height: 20vh;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .add-page-container {
    background: #ddd;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    .basic-info-conatiner {
      width: 100%;
      height: 100%;
    }
    .add-image-container {
      width: 100%;
      height: 0%;
      .add-item-image {
        max-width: 80%;
        max-height: 20vh;
        object-fit: contain;
      }
    }
  }
}
