.profile-container {
  height: 75vh;
  width: 99.9vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .image-component {
    width: 33vw;
    background: #ddd;
  }

  .info-component {
    background: #ddd;
    width: 33%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: space-evenly;
    height: 100%;
    h2 {
      margin: 0.5em;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
  .info-btns {
    margin-top: 5em;
  }

  .cart-component {
    background: #ddd;
    width: 30%;
    .cart {
      overflow-y: scroll;
      border-bottom: 1px solid black;
      height: 80%;
      margin-bottom: 1em;
      overflow-x: hidden;
    }
    .total * {
      font-weight: 400;
    }
    .btns {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-container {
    height: 75vh;
    width: 70%;
    margin: auto;
    display: initial;
    overflow-y: scroll;
    .image-component {
      background: #ddd;
      width: 100%;
      .profile-image {
        border: 1px solid black;
        width: 70vw;
        height: auto;
        margin: auto;
      }
    }

    .info-component {
      background: #ddd;
      width: 100%;
      overflow-y: scroll;
      font-weight: 400;
      overflow-x: hidden;
      height: 100%;
      h2 {
        overflow-y: hidden;
        margin: 0.6em 0;
        width: 100%;
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
    .info-btns {
      margin-top: 5em;
    }

    .cart-component {
      background: #ddd;
      width: 100%;
      .cart {
        overflow-y: scroll;

        height: 80%;
        margin-bottom: 1em;
        overflow-x: hidden;
      }
      .total * {
        font-weight: 400;
      }
      .btns {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        div {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .profile-container {
    height: 75vh;
    width: 100%;
    margin: 2em auto;
    display: initial;
    overflow-y: scroll;

    .image-component {
      background: #ddd;
      width: 100%;
      .profile-image {
        border: 1px solid black;
        width: 100vw;
        height: auto;
      }
    }

    .info-component {
      background: #ddd;
      width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      justify-content: space-evenly;
      height: 100%;
      h2 {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
    .info-btns {
      margin-top: 5em;
    }

    .cart-component {
      background: #ddd;
      width: 100%;
      .cart {
        overflow-y: scroll;

        height: 80%;
        margin-bottom: 1em;
        overflow-x: hidden;
      }
      .total * {
        font-weight: 400;
      }
      .btns {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        div {
          width: 100%;
        }
      }
    }
  }
}
