.sign-page-container {
  margin-top: 20px;
  .sign-page-header {
    text-align: center;
  }
  .sign-page-body {
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
