.profile-item {
  margin: 1em 0;

  display: flex;
  flex-direction: column;
  .profile-main {
    display: flex;
    flex-direction: row;
    .image-container {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .basic-info {
     
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 60%;
      * {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
  }
}
