.main-subsection {
  border: 1px solid black;
  width: 70%;
  overflow-y: scroll;
}
@media screen and (max-width: 750px) {
  .main-subsection {
    * {
      margin: auto;
    
    }

    border: 1px solid black;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
