.search-component {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  overflow-y: scroll;

  .search-input {
    font-size: 1.5rem;
    width: 64%;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    outline: none;
  }
  .search-btn {
    font-weight: 400;
    width: 20%;
    font-size: 1.5rem;
    color: royalblue;
    background: transparent;
    border: 1px solid royalblue;
    border-radius: 4px;
    &:hover {
      transition: 500ms;
      cursor: pointer;
      background: royalblue;
      color: white;
    }
  }
  .seach-name {
    font-weight: 400;
    font-size: 1.5rem;
    align-self: center;
    width: 15%;
  }
}
@media screen and (max-width: 900px) {
  .search-component {
    width: 100%;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 550px) {
  .search-component {
    width: 100%;
    margin: 2rem auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    .search-input {
      font-size: 1.5rem;
      width: 100%;
      border: 1px solid black;
      border-radius: 5px;
      outline: none;
    }
    .search-btn {
      font-weight: 600;
      width: 100%;
      margin-top: 1em;
      font-size: 1.5rem;
      color: royalblue;
      background: transparent;
      border: 1px solid royalblue;
      border-radius: 4px;
      &:hover {
        transition: 500ms;
        cursor: pointer;
        background: royalblue;
        color: white;
      }
    }
    .seach-name {
      font-weight: 400;
      font-size: 1.5rem;
      align-self: center;
      margin-bottom: 1em;

      text-align: center;
      width: 80%;
    }
  }
}
